:root {
  /* Global */
  --global-bg: #fff;

  /* Scrollbar */
  --scrollbar-bg: #ffffff;
  --scrollbar-thumb: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--global-bg);
  color: white;
  height: 200vh;
}
::-webkit-scrollbar {
  background-color: var(--scrollbar-bg);
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
